body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.message-container {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #000;
}

@media (min-width: 800px) {
  .message-container {
    max-width: 50vw;
  }
}
